/*
 * Color Scheme
 */
body {
  background-color: #eeeeee;
  font-family: Ubuntu, sans-serif; }

.container {
  margin: 20px;
  padding: 20px;
  background-color: white; }

#result {
  color: #1d1d1d; }

@media screen and (max-width: 700px) {
  input {
    display: block; } }
