@import "scss/variables.scss";

body{
  background-color: $grey-1;
}
.container {
  margin:20px;
  padding:20px;
  background-color: $muted-grey;
}
#result {
  color:$grey-6;
}

@media screen and (max-width: 700px) {
  input {
    display:block;
  }
}