@import "scss/variables.scss";

body{
  background-color: $muted-grey;
  font-family: Ubuntu, sans-serif;
  min-width: 100vh;
}
h1, h2,
h3, h4,
h5, h6{
  font-weight: 700;
}
h1{
  font-size: 1.8em;
}
a{
  color: $accent-orange-1;
  text-decoration: none;
}
.text-input{
  border: none;
  border-bottom: solid 1px $grey-4;
  background-color: $muted-grey;
}

.info-icon{
  border: solid 1px $grey-3;
  color: $grey-3;
  padding: 2px 5px;
  border-radius: 10px;
  font-size: .6em;
  cursor: pointer;
  & + .tooltip{
    position: absolute;
    background-color: $grey-5;
    color: $soft-grey-2;
    padding: .5em;
    font-size: .8em;
    opacity: 0;
    z-index: -1;
    transition: .3s ease-in-out;
  }
  &:hover{
    & + .tooltip{
      z-index: 2;
      opacity: 1;
    }
  }
}
.output-message{
  font-size: 1em;
  font-weight: 500;
  color: $grey-4
}
.emphasis{
  color: $grey-6;
  font-weight: 600;
}
.content{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
}
.card {
  margin:20px;
  padding:20px;
  background-color: white;
  max-width: 550px;
  border-radius: 8px;
  width: 100%;
  input{
    margin-bottom: 1em;
  }
}
.button{
  border-radius: 4px;
  background-color: $grey-3;
  color: $soft-grey-2;
  border: none;
  padding: 1.5em 4em;
  transition: .3s ease-in-out;
  &:hover{
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.06), 0 3px 9px rgba(0, 0, 0, 0.03);
  }
}
#input{
  text-align: left;
  justify-content: space-around;
  .column{
    flex-direction: column;
  }
}

.flex{
  display: flex;
  &.content-center{
    justify-content: center;
  }
}
.text-al-right{
  text-align: right;
}
.text-al-center{
  text-align: center;
}
.drop-shadow{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.03);
}
.p-1{
  padding: .5em;
}
.pb-0{
  padding-bottom: 0;
}
.mt-2{
  margin-top: 1em;
}
.w-fit{
  width: fit-content;
}
.w-100{
  width: 100%
}

#result {
  color:$grey-6;
}

@media screen and (max-width: 700px) {
  input {
    display:block;
  }
}