@import "scss/variables.scss";

body{
  background-color: $muted-grey;
  font-family: Ubuntu, sans-serif;
  min-width: 100vh;
}
h1, h2,
h3, h4,
h5, h6{
  font-weight: 700;
}
h1{
  font-size: 1.8em;
}
a{
  color: $accent-orange-1;
  text-decoration: none;
}
.text-input{
  border: none;
  border-bottom: solid 1px $grey-4;
  background-color: $muted-grey;
}

.info-icon{
  // border: solid 1px $grey-3;
  color: $grey-3;
  // padding: 2px 5px;
  max-height: 15px;
  width: 15px;
  // border-radius: 10px;
  // font-size: .6em;
  cursor: pointer;
  & + .tooltip{
    position: absolute;
    background-color: $grey-5;
    color: $soft-grey-2;
    padding: .5em;
    font-size: .8em;
    opacity: 0;
    z-index: -1;
    transition: .3s ease-in-out;
  }
  &:hover{
    & + .tooltip{
      z-index: 2;
      opacity: 1;
    }
  }
}
.output-message{
  font-size: 1em;
  font-weight: 500;
  color: $grey-4
}
.emphasis{
  color: $grey-6;
  font-weight: 600;
}
.content{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
}
.card {
  margin:20px;
  padding:20px;
  background-color: white;
  max-width: 550px;
  border-radius: 8px;
  width: 100%;
  input{
    margin-bottom: 1em;
  }
}
.button{
  border-radius: 4px;
  background-color: $grey-3;
  color: $soft-grey-2;
  border: none;
  padding: 1.5em 4em;
  transition: .3s ease-in-out;
  &:hover{
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.06), 0 3px 9px rgba(0, 0, 0, 0.03);
  }
}
.slider{
  width: 100%;
  height: .5em;
  background: $soft-grey-3;
  border-radius: 1em;
  -webkit-appearance: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

&::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%; 
  background: $soft-grey-1;
  border: solid 1px $grey-4;
  cursor: pointer;
}

&::-moz-range-thumb {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: $soft-grey-1;
  cursor: pointer;
  border: solid 1px $grey-4;
}
}
#input{
  text-align: left;
  justify-content: space-around;
  .column{
    flex-direction: column;
  }
}

.drop-shadow{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.03);
}
.flex{
  display: flex;
  &.content-center{
    justify-content: center;
  }
  .self-right{
    justify-self: end;
  }
  &.align-center{
    align-items: center;
  }
}
.text-al-right{
  text-align: right;
}
.text-al-center{
  text-align: center;
}
.text-al-left{
  text-align: left;
}
.p-1{
  padding: .5em;
}
.pb-0{
  padding-bottom: 0;
}
.ml-1{
  margin-left: .5em;
}
.mt-2{
  margin-top: 1em;
}
.mt-4{
  margin-top: 2em;
}
.w-fit{
  width: fit-content;
}
.w-100{
  width: 100%
}
.w-20{
  width: 20em;
}

#result {
  color:$grey-6;
}

@media screen and (max-width: 700px) {
  input {
    display:block;
  }
}