/*
 * Color Scheme
 */

$muted-grey: rgb(245, 245, 245);
$soft-grey-1: rgb(238, 238, 238);
$soft-grey-2: rgb(228, 228, 228);
$softgrey-3: rgb(187, 187, 187);
$soft-grey-4: rgb(136, 136, 136);

$grey-1: rgb(130, 130, 130);
$grey-2: rgb(110, 110, 110);
$grey-3: rgb(90, 90, 90);
$grey-4: rgb(70, 70, 70);
$grey-5: rgb(51, 51, 51);
$grey-6: rgb(29, 29, 29);

$accent-orange-1: rgb(179, 103, 3)