/*
 * Color Scheme
 */
.drop-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.03); }

.flex {
  display: flex; }
  .flex.content-center {
    justify-content: center; }
  .flex .self-right {
    justify-self: end; }
  .flex.align-center {
    align-items: center; }

.text-al-right {
  text-align: right; }

.text-al-center {
  text-align: center; }

.text-al-left {
  text-align: left; }

.p-1 {
  padding: .5em; }

.pb-0 {
  padding-bottom: 0; }

.ml-1 {
  margin-left: .5em; }

.mt-2 {
  margin-top: 1em; }

.mt-4 {
  margin-top: 2em; }

.w-fit {
  width: fit-content; }

.w-100 {
  width: 100%; }

.w-20 {
  width: 20em; }

body {
  background-color: whitesmoke;
  font-family: Ubuntu, sans-serif;
  min-width: 100vh; }

h1, h2,
h3, h4,
h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 1.8em; }

a {
  color: #b36703;
  text-decoration: none; }

.text-input {
  border: none;
  border-bottom: solid 1px #464646;
  background-color: whitesmoke; }

.info-icon {
  color: #5a5a5a;
  max-height: 15px;
  width: 15px;
  cursor: pointer; }
  .info-icon + .tooltip {
    position: absolute;
    background-color: #333333;
    color: #e4e4e4;
    padding: .5em;
    font-size: .8em;
    opacity: 0;
    z-index: -1;
    transition: .3s ease-in-out; }
  .info-icon:hover + .tooltip, .info-icon:focus + .tooltip {
    z-index: 2;
    opacity: 1; }

.output-message {
  font-size: 1em;
  font-weight: 500;
  color: #464646; }

.emphasis {
  color: #1d1d1d;
  font-weight: 600; }

.content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw; }

.card {
  margin: 20px;
  padding: 20px;
  background-color: white;
  max-width: 550px;
  border-radius: 8px;
  width: 100%; }
  .card input {
    margin-bottom: 1em; }

.button {
  border-radius: 4px;
  background-color: #5a5a5a;
  color: #e4e4e4;
  border: none;
  padding: 1.5em 4em;
  transition: .3s ease-in-out; }
  .button:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.06), 0 3px 9px rgba(0, 0, 0, 0.03); }

.slider {
  width: 100%;
  height: .5em;
  background: #bbbbbb;
  border-radius: 1em;
  -webkit-appearance: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #eeeeee;
    border: solid 1px #464646;
    cursor: pointer; }
  .slider::-moz-range-thumb {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #eeeeee;
    cursor: pointer;
    border: solid 1px #464646; }

#input {
  text-align: left;
  justify-content: space-around; }
  #input .column {
    flex-direction: column; }

#result {
  color: #1d1d1d; }

@media screen and (max-width: 700px) {
  input {
    display: block; } }
